body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: azure; !* Replace with your desired background color *!*/
  background-color: thistle;
}

textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
  height: auto; /* Reset the height to auto to adjust based on the content */
  max-height: 200px; /* Set the maximum height (adjust as needed) */
}

.title-input {
  margin-bottom: 15px;
}
.description-input {
  width: 400px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-card {
  text-align: start;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.note-item-container:hover {
  transform: scale(1.01);
}
.add-button:hover {
  transform: scale(1.05);
}
.delete-button:hover {
  transform: scale(1.05);
}
.delete-all-button:hover {
  transform: scale(1.05);
}
.edit-button:hover {
  transform: scale(1.05);
}

.note-title {
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.note-text {
  padding-right: 15px;
  margin: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.add-delete-all-container {
  padding: 15px;
}


